.top-image {
  position: relative;
  background: linear-gradient(to right, #e2f8ed 0%, #e5efff 50%);
  background: url(../public/bca2.jpg);
  background-position: center;
  background-size: cover;
  height: 90vh;
}

.noUnderline {
  text-decoration: none !important;
}

.text-content {
  padding: 20px;
  color: white;
  line-height: 74px;
  font-size: 62px;
  font-weight: 600;
  position: relative;
  animation: slideIn 1.5s ease-out forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .text-content {
    line-height: 50px;
    font-size: 35px;
    padding: 0 10px;
  }
}

.embrace {
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.linkSecondary {
  color: #6c757d !important;
}

.linkDark {
  color: #343a40 !important;
}

.textDark {
  color: #343a40 !important;
}


::-webkit-scrollbar {
  width: 10px;
}

.vh-80 {
  height: 80vh;
}


.highlight {
  color: #35a34b;
}

.first-part {
  padding: 0px 0;
}

.img-fluid {
  margin-bottom: 20px;
}



.image-content img {
  max-width: 100%;
  height: auto;
}

.content {
  font-size: 18px;
  line-height: 25px;
  padding-top: 15px;
  color: rgb(125, 125, 125);
  font-weight: 300;
}

.overlay-content h4 {
  margin-bottom: 5px;
  font-size: 16px;
}

.overlay-content {
  position: absolute;
  top: 10px;
  left: 15px;
  background-color: rgba(27, 105, 74, 0.9);
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.overlay-content a {
  display: block;

  font-size: 16px;
  color: #fffcfc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.overlay-content a:hover {
  color: #3e0af8;
  /* Darkened text color on hover */
}

.image-hover:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.product-card {
  transition: transform 0.3s ease-in-out;
}

.product-card:hover {
  transform: translateY(-10px);
}

.btn-green {
  background-color: green;
  border-color: green;
  color: white;
}

.btn-green:hover {
  background-color: darkgreen;
  border-color: darkgreen;
}

.like-icon {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 20px;
  color: rgb(72, 150, 85);
}

.plant-card {
  border: 1px solid #fffefe;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Add box shadow */
}

.name {
  text-align: center;
}

.like {
  cursor: pointer;
}

.like.clicked {
  pointer-events: none;
  opacity: 0.5;
}

.like.liked .like-icon {
  color: red;
}

.like .like-icon {
  font-size: 24px;
  color: #ccc;
}

.plantly-link {
  font-size: 1.5rem;
  font-weight: bold;
  color: #343a40;
  text-decoration: none;
}

.plantly-link:hover {
  color: #212529;

}

.star {
  font-size: 24px;
  margin: 0 2px;
  color: goldenrod;
}

.star-container {
  display: flex;
  justify-content: center;
}

.nana {
  color: rgb(10, 9, 9);
}

@media (max-width: 768px) {

  .nana {
    color: rgb(10, 9, 9);
    text-decoration: none;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

}

.overline-14 {
  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  color: #5b627d;
}

.content {
  font-size: 18px;
  color: rgb(139, 139, 139);
}

.heading-link {
  font-size: 1.5rem;
  font-weight: bold;
  color: #343a40;
  text-decoration: none;
}

.product-1 {
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.product-2 {
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.product-3 {
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.product-1 p {
  font-size: 20px;
  font-weight: 500;
}

.product-2 p {
  font-size: 20px;
  font-weight: 500;
}

.product-3 p {
  font-size: 20px;
  font-weight: 500;
}


.image-hover {
  transition: transform 0.3s ease;
}

.product-1:hover .image-hover {
  transform: translateY(-10px);
}

.product-2:hover .image-hover {
  transform: translateY(-10px);
}

.product-3:hover .image-hover {
  transform: translateY(-10px);
}

.product-4:hover .image-hover {
  transform: translateY(-10px);
}

.product-4 p {
  font-size: 20px;
  font-weight: 500;
}

.product-4 {
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contact-us a {
  display: inline-block;
  padding: 10px 20px;
  background-color: green;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.contact-us a:hover {
  background-color: #0056b3;
}

.contact-us {
  padding-bottom: 10px;
}

.blue-one {

  height: auto;
  padding: 28px;
}

.heading-description {
  text-align: center;
}

.unique-text {
  font-weight: 300;
  text-align: left;
}

.preloaded-text {
  font-size: 30px;
  text-align: center;
}

.col-md-3 {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;

}

.number-heading {
  font-size: 64px;
  color: #258f67;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.description {
  font-size: 20px;
  color: #556260;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: left;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo-text p {
  font-size: 44px;
  font-weight: 400;
  text-align: center;
  color: white;

}

@media (max-width:768px) {
  .logo-text p {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: white;

  }
}

.read-more-btn {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 25px;
}

.read-more-btn:hover {
  background-color: #0d3b0f;
}

.title-p {
  font-weight: bold;
  font-size: 34px;
  color: #214842;
}

.content-p {
  font-size: 20px;
  color: #666;
  line-height: 1.5;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* Adjust the gap between items as needed */
}

.content-item {
  display: flex;
  align-items: flex-start;
}


.first-p {
  margin-top: 20px;
}


.heading {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  color: #214842;
}

.text-content p {
  margin: 5px 0 0 0;
}

.relief-content p:nth-of-type(2) {
  color: #333;
  font-size: 18px;
  line-height: 1.5;
  /* Example style */
  margin-top: 5px;
}

.cactus img {

  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  /* Example style to add some margin */
}

.footer {
  background-color: #f8f9fa;
  padding: 20px 0;
}

.footer a {
  color: #6c757d;
}

.footer a:hover {
  color: #495057;
}

.contact-button {
  padding: 5px 10px;
  background-color: #29b03b;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  width: 140px;
  height: 50px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #0a6d09;
  transition: color 2s ease;
}

.col-md-3 .contact-info {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  height: 180px;
  border-radius: 15px;
  z-index: 13;
  background: #fff;
  color: #1b1b1b;
  cursor: pointer;
  position: relative;
  transition: transform .2s, box-shadow .2s;
  will-change: transform, box-shadow;
  box-shadow: 1px 3px 3px 1px rgb(0 0 0 / 15%);
}

.contact-info p.title {
  font-weight: bold;
  font-size: 20px;
}

.contact-info p.info {
  color: #333;
  font-size: 16px;
}

.ri {
  font-size: 24px;
}

.ri-phone-fill {
  color: #ff5733;
}

.ri-mail-line {
  color: #3399ff;
}

.ri-global-fill {
  color: #33cc33;
}

.ri-map-pin-2-fill {
  color: #ffcc00;
}

.write form .form-group {
  margin-bottom: 20px;
  /* Adjust the value as needed */
}

.custom-message {
  background-color: #0a6d09;
  ;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.custom-message:hover {
  background-color: #2bcf0b;
}

.social-icon {
  display: inline-block;
  border: 2px solid white;
  border-radius: 50%;
  padding: 10px;
  background-color: #ffffff;
  text-align: center;
}

.social-icon img {
  display: block;
  margin: auto;
  width: 34px;
  height: 34px;
}

.custom-link {
  position: relative;
  transition: all 0.3s ease-in-out;
  color: white;
  text-decoration: none;
}

.custom-link::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: all 0.3s ease-in-out;
  transform: scaleX(0);
  transform-origin: bottom right;
}

.custom-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.mb-2 span {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
}

.mb-2 i {
  margin-right: 10px;
  /* Adjust as needed */
}

.mb-2 span.text-white {
  color: white;
}

.bg-title-page {
  background: url(../public/about-bg.jpg);
  background-position: center;
  background-size: cover;
  height: 25vh;
}

.innerpages-title {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #214842;

}

.innerpages-title1 h1 {
  font-weight: bolder;
  font-size: 52px;
}

.write {
  align-items: center;


  display: flex;
  flex-direction: column;
}

.write .form-group {
  width: 75%;
  align-items: center;
  flex-direction: column;

  display: flex;
}

.main-part {
  transition: box-shadow 5s ease, transform 0.3s ease;
}

.main-part:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.prod-image img {
  width: 100%;

}

.prod-image {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.prod-image p {
  text-align: center;
  margin-top: 10px;
}

.prod-name p {
  font-weight: bold;
  text-align: center;
}

.prod-name a {

  margin-top: 10px;
  text-decoration: none;

  font-size: 18px;
  padding: 10px;

}

.prod-name a:hover {

  border-color: #0056b3;

}

.bg-custom {
  background-color: #f5f6fb !important;
}


.card-img-top:hover img {
  transform: scale(1.1);
}

.btn-custom {
  transition: background-color 0.5s ease, color 0.5s ease;
}

.btn-custom:hover {
  background-color: #28a745;
  color: #fff;
}

.btn-all-products {
  background-color: gold;
  color: black;
}

.btn-all-products:hover {
  background-color: #28a745;
  color: #fff;
}

.card-img-top:hover img {
  transform: scale(1.1);
}

.bttn{
  display: flex;
  justify-content: center;
  border-top: 1px solid #ccc;
  padding: 20px;
}
